body {
  font-family: Arial;
  background: linear-gradient(135deg,#0f766e,#14b8a6);
  text-align: center;
  color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

img {
  width: 300px;
  border-radius: 12px;
  margin: 15px 0;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: none;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: gold;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}
